# ------------------------------------------------------------
# Operating System
# ------------------------------------------------------------

# macOS
.DS_Store


# ------------------------------------------------------------
# Editor & IDE
# ------------------------------------------------------------

# Visual Studio Code
.vscode/

# JetBrains IDEs
.idea/


# ------------------------------------------------------------
# Environment Variables
# ------------------------------------------------------------

# Local environment configuration
.env
.env.*


# ------------------------------------------------------------
# Logs
# ------------------------------------------------------------

*.log


# ------------------------------------------------------------
# Docker
# ------------------------------------------------------------

# Docker Compose local overrides
docker-compose.override.yml